* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Slab', serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  background-color: #FEF6E8;
}

.name {
  font-size: 40px;
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #1C5936;
  margin: 0;
  color: #F2B90F;
  height: 50px;
  font-size: 14px;
}

nav p {
  float: left;
  padding-left: 15px;
  margin-top: 14px;
}

nav a{
  text-decoration: none;
  color: #F2B90F;
  padding-right: 15px;
  float: right;
  margin-top: 14px;
}

header {
  min-height: 100px;
  padding-top: 15%;
  padding-bottom: 3%;
}

section {
  min-height: 100px;
  padding: 15px 5px;
}

.mypic {
  border-radius: 50%;
  border: 3px solid #F2B90F;
}

.project-group {
  display: flex;
  padding: 0;
  flex-direction: column;
  height: 100%;
}

.projects {
  padding: 0 25px;
  margin: 5px 10px;
  border: 2px solid #1C5936;
  min-height: 100px;
  padding-top: 0;
  padding-bottom: 0;
}

.project-title {
  padding-top: 30px;
  padding-bottom: 0;
}

.contact-title {
  padding-top: 70px;
  padding-bottom: 0;
}

.contact-info {
  margin-top: 10px;
  margin-bottom: 40px;
}

.screenshots {
  width: 100%;
}

.projects a:link, .contact-info a:link {
  color: #1C5936;
}

.projects a:visited, .contact-info a:visited {
  color: #F29494;
}

@media only screen and (min-width: 400px) {
  nav {
    font-size: 16px;
  }
}

@media only screen and (min-width: 700px) {
  nav {
    font-size: 20px; 
  }

  nav a{
    padding-right: 15px;
  }

  nav p {
    padding-left: 15px;
  }

  .project-group {
    display: flex;
    padding: 0;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    padding: 0 20px;
    margin: 20px 5px;
  }  

  .screenshots {
    width: 50%;
  }
}