* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1.5px;
  background-color: #Fbfbf8;
  margin: 0;
}

.project {
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid #2F394D;
  border-radius: 5px;
}

.project:nth-child(odd) {
  background-color: #f1fffa;
}

.project:nth-child(even) {
  background-color: #F2E8E8;
}

.description-left, .description-right, .screenshot-left, .screenshot-right {
  width: 90%;
}

.name {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Limelight', cursive;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #D1D2F9;
  margin: 0;
  height: 50px;
  font-size: 14px;
}

.nav-name {
  font-size: 10px;
  margin-top: 17px;
  float: left;
  padding-left: 15px;
}

nav a, nav a:visited {
  text-decoration: none;
  padding-right: 15px;
  float: right;
  margin-top: 13px;
}

header {
  min-height: 100px;
  padding-top: 13%;
}

.mypic {
  width: auto;
  height: 100%;
}

.projects {
  list-style-type: none;
  padding-left: 0;
  width: 90%;
  margin: 0 auto;
}

.project-title {
  padding-top: 30px;
  padding-bottom: 0;
}

.contact-title {
  padding-top: 70px;
  padding-bottom: 0;
}

.contact-info {
  margin-top: 10px;
  margin-bottom: 40px;
}

.description-left, .description-right {
  margin: 0 auto;
}

.screenshot-right, .screenshot-left {
  margin-top: 10px;
  width: 100%;
}

nav a, .projects a:link, .contact-info a:link {
  color: #2F394D;
}

nav a:visited, .projects a:visited, .contact-info a:visited {
  color: #304B78;
}

nav a:hover, .projects a:hover, .contact-info a:hover {
  color: #782A64;
}

.screenshot {
  width: 100%;
}

.tech {
  list-style-type: none;
  padding-left: 0;
}

.about {
  width: 90%;
  margin: 0 auto;
}

.headline {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
}

h2 {
  margin-bottom: 0;
  padding-top: 60px;
}

hr {
  margin-top: 0;
  margin-bottom: 20px;
  width: 80%;
}

.img-box {
  display: inline-block;
  position: relative;
  height: 220px;
  width: 220px;
  overflow: hidden;
  border-radius: 50%;
}

.initial {
  width: 80%;
  margin-bottom: 50px;
}

@media only screen and (min-width: 400px) {
  nav, .nav-name {
    font-size: 16px;
  }

  .nav-name {
    margin-top: 13px;
  }
}

@media only screen and (min-width: 700px) {
  .mypic {
    margin-left: -90px;
  }

  .img-box {
    height: 550px;
    width: 550px;
  }

  .headline p, .about {
    font-size: 25px;
  }

  .about {
    margin-bottom: 20px;
  }

  .name {
    font-size: 40px;
    padding-top: 45px;
  }

  .initial {
    width: 40%;
  }
}

@media only screen and (min-width: 800px) {
  nav, .nav-name {
    font-size: 20px; 
  }

  nav a {
    padding-right: 15px;
  }

  .nav-name {
    padding-left: 15px;
  }

  .nav-name, nav a {
    margin-top: 10px;
  }

  .screenshot {
    position: absolute;
    left: 0;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .description-left, .description-right {
    width: 60%;
    margin: 0;
    height: 100%;
    text-align: left;
    padding: 10px 15px;
  }

  .screenshot-right, .screenshot-left {
    width: 40%;
    height: 100%;
    margin-top: 0;
    background-color: #2F394D;
    position: relative;
  }  

  .description-left, .screenshot-left {
    float: left;
  }
  
  .description-right, .screenshot-right {
    float: right;
  }

  .project {
    height: 500px;
    margin-bottom: 0;
    border: none;
  }

  .projects {
    width: 100%;
  }

  .about {
    width: 60%;
  }

  hr {
    width: 60%;
  }

  .desc {
    width: 90%;
  }

  header {
    padding-top: 10%;
  }
}